.image {
    border-radius: 50%;
    border: 2px solid black;
    margin-bottom: 30px;
  }
.left {
    text-align: left;
    p {
        font-weight: 500;
    }
}
.right {
    text-align: left;
}  
.info {
    margin-left: 25%;
}
:host {
    margin-left: 30px;
}
.choose_file{
    position:relative;
    display:inline-block;    
	border-radius:8px;
    border:#ebebeb solid 1px;
    width:130px; 
    padding: 4px 6px 4px 8px;
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #7f7f7f;
    margin-top: 2px;
	background:white
}
.choose_file:hover {
    background: greenyellow;
    cursor: pointer;
    color: white;
}
.choose_file input[type="file"]{
    -webkit-appearance:none; 
    position:absolute;
    top:0; left:0;
    opacity:0; 
}
.btn {
    margin-top: 50px;
    width: 140px;
}