.body{
    font-family: sans-serif
}

.form1{ 
    border-style: groove;
}
.title{
     text-align: center}
label{
    font-weight:  bold;
}
.statut{
    color: #28a745;
}
.btnJoin{
    margin-bottom: 2%  ;
}
.btnCancel{
    margin-left: 10%;
    margin-bottom: 2% ; 
}
// .h2 h2title{
//     text-align: center;
// }
.btnClose{
    margin-left: 85%;
    
}