.custab {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
  }
  
  .custab:hover {
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
  }
  .admin {
    min-height: 400px;
    position: relative;
    margin-top: 40px;
}