<div class="admin container">
  <div  class="row">
    <div style="margin-top:50px;" class="menu col-md-2">
      <div class=" text-center tieude">
        <h4>
          <i class="far fa-address-book"></i> HỒ SƠ</h4>
        <hr>
        <br>
      </div>
      <div>
        <button [routerLink]="['/manarestaurant']" style="width:  145px" type="button" class="btn btn-primary">Quản lí quán ăn</button>
      </div>
      <br>
      <div>
        <button [routerLink]="['/manatypefood']"  style="width:  145px" type="button" class="btn btn-primary">Loại hình quán ăn</button>
      </div>
    </div>
    <!-- dong cot trai -->
    <div class="col-md-10">
      <table class=" text-center table custab">
        <thead class="thead-light">
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Min Price</th>
            <th>Max Price</th>
            <th>Time Start</th>
            <th>Time End</th>
            <th>Action</th>
          </tr>
        </thead>
        <tr *ngFor="let quan of listRestaurant">
          <td>{{quan.name}}</td>
          <td>{{quan.address}}</td>
          <td>{{quan.minPrice}}</td>
          <td>{{quan.maxPrice}}</td>
          <td>{{quan.timeStart}}</td>
          <td>{{quan.timeAnd}}</td>
          <td class="text-center">
              <button style="width: 56px; height: 29px; font-size: 12px" [routerLink]="['/detailsuaquan/' + quan._id]" (click)="click()" type="button" class="btn btn-primary"><i class="fas fa-edit"></i> Edit</button>
              <button style="width: 56px; height: 29px; font-size: 12px"  (click)="delete(quan._id)" type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i> Del</button>
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>
