
.restaurant-detail{ 
  color: black;
}
.introduce {
  background-color: #ffd24bbd;
  height: 100%;
  padding: 66px;
}
.banner{
 
  padding: 0;
  // max-width: auto;
  // height: 100%;
  // display: block;
  // background-color: white;
} 
.content{
  padding-left: 7%;
  padding-top: 3%;
}
agm-map{
  height: 420px;
  width: 100%;
}
.map {
  background: #aadaff
}
