.image {
    border-radius: 50%;
    border: 2px solid black;
    margin-bottom: 30px;
  }
.left {
    text-align: left;
    p {
        font-weight: 500;
    }
}
.right {
    text-align: left;
}  
.info {
    margin-left: 25%;
}
:host {
    margin-left: 30px;
}