<div class="text-center">
  <img class="image " src="assets/images.png" alt="" width="120" height="120">
</div>
<div class="info ">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 col-md-push-2">
        <div class="row">
          <div class="left col-md-6">
            <p>Name:</p>
          </div>
          <div class="right col-md-6">
            <p>Ha Pham</p>
          </div>
          <div class="left col-md-6">
            <p>Email:</p>
          </div>
          <div class="right col-md-6">
            <p>phamthaiha.vn@gmai.com</p>
          </div>
          <div class="left col-md-6">
            <p>Address:</p>
          </div>
          <div class="right col-md-6">
            <p>Hoc Vien Cong Nghe BCVT</p>
          </div>
          <div class="left col-md-6">
            <p>Phone:</p>
          </div>
          <div class="right col-md-6">
            <p>0949022096</p>
          </div>
          <div class="left col-md-6">
            <p>Rate:</p>
          </div>
          <div class="right col-md-6">
            <p>9/10</p>
          </div>
          <div class="left col-md-6">
            <p>Sex:</p>
          </div>
          <div class="right col-md-6">
            <p>Female</p>
          </div>
          <div class="left col-md-6">
            <p>Birth day:</p>
          </div>
          <div class="right col-md-6">
            <p>22/08/1996</p>
          </div>
          <div class="left col-md-6">
            <p>Favorite Food:</p>
          </div>
          <div class="right col-md-6">
            <p>Chicken, Crab...</p>
          </div>
          <div class="left col-md-6">
            <p>More detail:</p>
          </div>
          <div class="right col-md-6">
            <p>None</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>