<div style="margin-top: 100px;" class="admin container">
  <div style="margin-top:50px;"  class="row">
    <div class="text-center menu col-md-3">
      <div class=" tieude">
        <h4>
          <i class="far fa-address-book"></i> HỒ SƠ</h4>
        <hr>
        <br>
      </div>
      <br>
      <button [routerLink]="['/manarestaurant']"  type="button" class="btn btn-primary">Quản lí quán ăn</button>
      <br>
      <button [routerLink]="['/manatypefood']" type="button" class="btn btn-primary">Loại hình quán ăn</button>
      <br>
    </div>
    <!-- dong cot trai -->
    <div style="margin-top: 60px;" class="text-center col-md-9">
      <h1> TRANG QUẢN LÝ</h1>
      <h1>
        <i class="fas fa-lock"></i>
      </h1>
      <h3>Quản lý app ancung.com!</h3>
    </div>
  </div>
  <!-- <div *ngIf="a"class="hien">
    <router-outlet></router-outlet>
  </div> -->
</div>
