.top {
  margin-left: 10px;
}

.image {
  border-radius: 50%;
  border: 2px solid #c0b6b626;
  margin-top: 12px;
  margin-left: 30px;
}

.boss {
  background-color: #f5f5f5;
  text-align: center;
  height: 100vh;
  margin-top: -53px;
}

hr {
  width: 70%;
  text-align: center;
  margin-left: 49px;
}

.titile {
  padding-top: 76px;
  padding-bottom: 18px;
}

.BtnUnFriend {
  float: left;
  margin: auto;
  margin-left: -100px;
}
