
<div class="row">
    <div class="col-md-4">
        <div class="boss">
            <div class="titile">
              <h5>LIST FRIENDS</h5>
              <hr>
            </div>
           
            <div class="top row"  *ngFor="let frd of objListFriend">
              <div class="col-md-4">
                <img class="image"  src="assets/images.png" alt="" width="50" height="50">
              </div>
              <div class="info col-md-7 text-left">
                <p style="font-weight: 700; margin-top: 12px; font-size:15px; color: rgb(72, 59, 255); cursor: pointer; " class="name">{{ frd.name }}</p>
                <p style="margin-top: -10px;font-size:12px" class="address">{{frd.email}}</p>
                <p style="margin-top: -10px;font-size:12px" class="sex">{{frd.sex}}</p>
              </div>
              <div class="BtnUnFriend col-md-1">
                  <button style="width: 36px; height: 29px; font-size: 12px" (click)="unFriend(frd._id)" type="button" class="btn btn-warning"><i class="fas fa-ban"></i> </button>
              </div>
              <hr>
            </div>
          </div>          
    </div>
    <div class="col-md-8">
        <app-profile></app-profile>      
    </div>
  </div>
